<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>value</th>
      <th>description</th>
      <th>type</th>
      <th>key</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>59f875135a2bef0278d71f32</td>
      <td></td>
      <td></td>
      <td>_id</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2020-01-22 17:22:00.193000</td>
      <td></td>
      <td></td>
      <td>updatedAt</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-10-31 13:05:23.424000</td>
      <td></td>
      <td></td>
      <td>createdAt</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Piso 2</td>
      <td></td>
      <td></td>
      <td>name</td>
    </tr>
    <tr>
      <th>4</th>
      <td>False</td>
      <td></td>
      <td></td>
      <td>others</td>
    </tr>
    <tr>
      <th>5</th>
      <td>BT3</td>
      <td></td>
      <td></td>
      <td>rate</td>
    </tr>
    <tr>
      <th>6</th>
      <td>https://wenuwork.cl/tarifa-atbt-3/</td>
      <td></td>
      <td></td>
      <td>rateLink</td>
    </tr>
    <tr>
      <th>7</th>
      <td>79.787</td>
      <td></td>
      <td></td>
      <td>rateMountWithIva</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td></td>
      <td></td>
      <td>__v</td>
    </tr>
    <tr>
      <th>9</th>
      <td>59f875145a2bef0278d71f38</td>
      <td></td>
      <td></td>
      <td>companyId</td>
    </tr>
    <tr>
      <th>10</th>
      <td>False</td>
      <td></td>
      <td></td>
      <td>generate</td>
    </tr>
  </tbody>
</table>