<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>value</th>
      <th>description</th>
      <th>type</th>
      <th>key</th>
      <th>key_0</th>
      <th>key_1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>70201</td>
      <td></td>
      <td></td>
      <td>generalCircuit_0</td>
      <td>generalCircuit</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>70301</td>
      <td></td>
      <td></td>
      <td>generalCircuit_1</td>
      <td>generalCircuit</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>70401</td>
      <td></td>
      <td></td>
      <td>generalCircuit_2</td>
      <td>generalCircuit</td>
      <td>2</td>
    </tr>
  </tbody>
</table>