<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>value</th>
      <th>description</th>
      <th>type</th>
      <th>key</th>
      <th>key_0</th>
      <th>key_1</th>
      <th>key_2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>R</td>
      <td></td>
      <td></td>
      <td>subLocations_0_label</td>
      <td>subLocations</td>
      <td>0</td>
      <td>label</td>
    </tr>
    <tr>
      <th>1</th>
      <td>59f8c0d664723b099a7db4c2</td>
      <td></td>
      <td></td>
      <td>subLocations_0_id</td>
      <td>subLocations</td>
      <td>0</td>
      <td>id</td>
    </tr>
    <tr>
      <th>2</th>
      <td>S</td>
      <td></td>
      <td></td>
      <td>subLocations_1_label</td>
      <td>subLocations</td>
      <td>1</td>
      <td>label</td>
    </tr>
    <tr>
      <th>3</th>
      <td>59f8c0d664723b099a7db4c3</td>
      <td></td>
      <td></td>
      <td>subLocations_1_id</td>
      <td>subLocations</td>
      <td>1</td>
      <td>id</td>
    </tr>
    <tr>
      <th>4</th>
      <td>T</td>
      <td></td>
      <td></td>
      <td>subLocations_2_label</td>
      <td>subLocations</td>
      <td>2</td>
      <td>label</td>
    </tr>
    <tr>
      <th>5</th>
      <td>59f8c0d664723b099a7db4c4</td>
      <td></td>
      <td></td>
      <td>subLocations_2_id</td>
      <td>subLocations</td>
      <td>2</td>
      <td>id</td>
    </tr>
  </tbody>
</table>