<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>value</th>
      <th>description</th>
      <th>type</th>
      <th>key</th>
      <th>key_0</th>
      <th>key_1</th>
      <th>key_2</th>
      <th>key_3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>43201</td>
      <td></td>
      <td></td>
      <td>groups_0_meters_0</td>
      <td>groups</td>
      <td>0</td>
      <td>meters</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>44201</td>
      <td></td>
      <td></td>
      <td>groups_0_meters_1</td>
      <td>groups</td>
      <td>0</td>
      <td>meters</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>63501</td>
      <td></td>
      <td></td>
      <td>groups_0_meters_2</td>
      <td>groups</td>
      <td>0</td>
      <td>meters</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>60501</td>
      <td></td>
      <td></td>
      <td>groups_1_meters_0</td>
      <td>groups</td>
      <td>1</td>
      <td>meters</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>60601</td>
      <td></td>
      <td></td>
      <td>groups_1_meters_1</td>
      <td>groups</td>
      <td>1</td>
      <td>meters</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>60701</td>
      <td></td>
      <td></td>
      <td>groups_1_meters_2</td>
      <td>groups</td>
      <td>1</td>
      <td>meters</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>201101</td>
      <td></td>
      <td></td>
      <td>groups_2_meters_0</td>
      <td>groups</td>
      <td>2</td>
      <td>meters</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>59901</td>
      <td></td>
      <td></td>
      <td>groups_2_meters_1</td>
      <td>groups</td>
      <td>2</td>
      <td>meters</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>130001</td>
      <td></td>
      <td></td>
      <td>groups_2_meters_2</td>
      <td>groups</td>
      <td>2</td>
      <td>meters</td>
      <td>2</td>
    </tr>
  </tbody>
</table>