<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>value</th>
      <th>description</th>
      <th>type</th>
      <th>key</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>58e6bed498ccd46708b85c26</td>
      <td></td>
      <td></td>
      <td>_id</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2018-12-28 12:57:23.675000</td>
      <td></td>
      <td></td>
      <td>updatedAt</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-03-14 17:51:12.388000</td>
      <td></td>
      <td></td>
      <td>createdAt</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Engie Factory Incubadora</td>
      <td></td>
      <td></td>
      <td>name</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Engie Factory Incubadora</td>
      <td></td>
      <td></td>
      <td>alias</td>
    </tr>
    <tr>
      <th>5</th>
      <td>594d2bfb926bcf731db26a2e</td>
      <td></td>
      <td></td>
      <td>administrator</td>
    </tr>
    <tr>
      <th>6</th>
      <td>True</td>
      <td></td>
      <td></td>
      <td>enabled</td>
    </tr>
    <tr>
      <th>7</th>
      <td>America/Santiago</td>
      <td></td>
      <td></td>
      <td>timezone</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td></td>
      <td></td>
      <td>__v</td>
    </tr>
  </tbody>
</table>