<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>value</th>
      <th>description</th>
      <th>type</th>
      <th>key</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>228401:2019122300</td>
      <td></td>
      <td></td>
      <td>_id</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td></td>
      <td></td>
      <td>__v</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2019-12-23 00:00:30.219000</td>
      <td></td>
      <td></td>
      <td>createdAt</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14.1556</td>
      <td></td>
      <td></td>
      <td>currentPeakAvg</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2952.55</td>
      <td></td>
      <td></td>
      <td>ep1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3121.64</td>
      <td></td>
      <td></td>
      <td>powAvg</td>
    </tr>
    <tr>
      <th>6</th>
      <td>227</td>
      <td></td>
      <td></td>
      <td>totalCnt</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2019-12-23 01:00:00.183000</td>
      <td></td>
      <td></td>
      <td>updatedAt</td>
    </tr>
    <tr>
      <th>8</th>
      <td>225.594</td>
      <td></td>
      <td></td>
      <td>voltagePeakAvg</td>
    </tr>
  </tbody>
</table>