<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>value</th>
      <th>description</th>
      <th>type</th>
      <th>key</th>
      <th>key_0</th>
      <th>key_1</th>
      <th>key_2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>#4ca004</td>
      <td></td>
      <td></td>
      <td>design_chartBar_0</td>
      <td>design</td>
      <td>chartBar</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>#abb9c4</td>
      <td></td>
      <td></td>
      <td>design_chartBar_1</td>
      <td>design</td>
      <td>chartBar</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>#0c69b2</td>
      <td></td>
      <td></td>
      <td>design_chartBar_2</td>
      <td>design</td>
      <td>chartBar</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>#11425b</td>
      <td></td>
      <td></td>
      <td>design_chartBar_3</td>
      <td>design</td>
      <td>chartBar</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>#fc553a</td>
      <td></td>
      <td></td>
      <td>design_chartBar_4</td>
      <td>design</td>
      <td>chartBar</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>#82b532</td>
      <td></td>
      <td></td>
      <td>design_chartBar_5</td>
      <td>design</td>
      <td>chartBar</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>#ff9f00</td>
      <td></td>
      <td></td>
      <td>design_chartBar_6</td>
      <td>design</td>
      <td>chartBar</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>#e74550</td>
      <td></td>
      <td></td>
      <td>design_chartBar_7</td>
      <td>design</td>
      <td>chartBar</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>#424547</td>
      <td></td>
      <td></td>
      <td>design_chartBar_8</td>
      <td>design</td>
      <td>chartBar</td>
      <td>8</td>
    </tr>
  </tbody>
</table>