<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>value</th>
      <th>description</th>
      <th>type</th>
      <th>key</th>
      <th>key_0</th>
      <th>key_1</th>
      <th>key_2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>False</td>
      <td></td>
      <td></td>
      <td>settings_alerts_enable</td>
      <td>settings</td>
      <td>alerts</td>
      <td>enable</td>
    </tr>
    <tr>
      <th>1</th>
      <td>sms</td>
      <td></td>
      <td></td>
      <td>settings_alerts_channel</td>
      <td>settings</td>
      <td>alerts</td>
      <td>channel</td>
    </tr>
  </tbody>
</table>