<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>value</th>
      <th>description</th>
      <th>type</th>
      <th>key</th>
      <th>key_0</th>
      <th>key_1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>smart.office@engiefactory.com</td>
      <td></td>
      <td></td>
      <td>netatmo_user</td>
      <td>netatmo</td>
      <td>user</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3ng13T12016</td>
      <td></td>
      <td></td>
      <td>netatmo_password</td>
      <td>netatmo</td>
      <td>password</td>
    </tr>
  </tbody>
</table>