<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>value</th>
      <th>description</th>
      <th>type</th>
      <th>key</th>
      <th>key_0</th>
      <th>key_1</th>
      <th>key_2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Clima</td>
      <td></td>
      <td></td>
      <td>groups_0_label</td>
      <td>groups</td>
      <td>0</td>
      <td>label</td>
    </tr>
    <tr>
      <th>1</th>
      <td>MuvSmart</td>
      <td></td>
      <td></td>
      <td>groups_1_label</td>
      <td>groups</td>
      <td>1</td>
      <td>label</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Oficina</td>
      <td></td>
      <td></td>
      <td>groups_2_label</td>
      <td>groups</td>
      <td>2</td>
      <td>label</td>
    </tr>
  </tbody>
</table>