<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>value</th>
      <th>description</th>
      <th>type</th>
      <th>key</th>
      <th>key_0</th>
      <th>key_1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>75</td>
      <td></td>
      <td></td>
      <td>design_logoWidth</td>
      <td>design</td>
      <td>logoWidth</td>
    </tr>
    <tr>
      <th>1</th>
      <td>#00d1dc</td>
      <td></td>
      <td></td>
      <td>design_primaryColor</td>
      <td>design</td>
      <td>primaryColor</td>
    </tr>
    <tr>
      <th>2</th>
      <td>#ffffff</td>
      <td></td>
      <td></td>
      <td>design_canvasColor</td>
      <td>design</td>
      <td>canvasColor</td>
    </tr>
    <tr>
      <th>3</th>
      <td>https://wenuworkmedia.blob.core.windows.net/logos/engie-factory.png</td>
      <td></td>
      <td></td>
      <td>design_logo</td>
      <td>design</td>
      <td>logo</td>
    </tr>
  </tbody>
</table>