<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>key</th>
      <th>value</th>
      <th>description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>_id</td>
      <td>10</td>
      <td>ID secuencial de lecturas dentro del grupo</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ep1</td>
      <td>25.3004</td>
      <td>Energía acumulada</td>
    </tr>
    <tr>
      <th>2</th>
      <td>powAvg</td>
      <td>1518.03</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>powVAAvg</td>
      <td>1578.76</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>powVARAvg</td>
      <td>407.2</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>totalCnt</td>
      <td>12</td>
      <td>Total de Cuentas de Todos los sensores</td>
    </tr>
    <tr>
      <th>6</th>
      <td>timeStamp</td>
      <td>2019-10-12T16:10:00-03:00</td>
      <td>Timestamp en Horario Local (viene de Timestamp en ID)</td>
    </tr>
    <tr>
      <th>7</th>
      <td>powerFactorAvg</td>
      <td>0.96153</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>