<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>key</th>
      <th>N</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>groups</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>readings</td>
      <td>52</td>
    </tr>
    <tr>
      <th>2</th>
      <td>locations</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>subLocations</td>
      <td>4</td>
    </tr>
  </tbody>
</table>